# Copyright (c) 2024 naoyakadota
# SPDX-License-Identifier: MIT

if SHIELD_PURRCY_LEFT

config ZMK_KEYBOARD_NAME
    default "Purrcy Left"

endif

if SHIELD_PURRCY_RIGHT
    default "Purrcy Right"
endif