if SHIELD_PURRCY

config ZMK_KEYBOARD_NAME
    default "Purrcy"

endif

if ZMK_KSCAN_GPIO_CHARLIEPLEX

config ZMK_KSCAN_CHARLIEPLEX_WAIT_BEFORE_INPUTS 10

config ZMK_KSCAN_CHARLIEPLEX_WAIT_BETWEEN_OUTPUTS 10

endif # ZMK_KSCAN_GPIO_CHARLIEPLEX